/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-bar {
    border: 2px solid red;
    padding: 1rem;
}

.navigation-container {
    margin: 1rem;
    border: 2px solid blue;
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

body {
    margin: 0;
}

.cross {
    @apply before:absolute after:absolute;
    @apply before:top-[-4px] before:bg-[#202020] before:content-[''] before:w-[1px] before:h-[9px];
    @apply after:left-[-4px] after:bg-[#202020] after:content-[''] after:w-[9px] after:h-[1px];
} 